<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <body>
  
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="menu(menu)">
        <div class="container-fluid">
    
            <a class="navbar-brand" href="#">My Board</a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-la bel="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item " >
                        <a class="nav-link " th:classappend="${menu} == 'home'? 'active'" href="#" th:href="@{/}">홈
                            <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" th:classappend="${menu} == 'board'? 'active'" href="#" th:href="@{/board/listpage}">게시판
                            <span class="sr-only" th:if="${menu} == 'board'">(current)</span></a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" th:classappend="${menu} == 'register'? 'active'" href="#" th:href="@{/account/registerForm}">회원가입
                            <span class="sr-only" th:if="${menu} == 'register'">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
    
            </div>
    
            <!--<form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0 " type="submit">Search</button>
            </form>-->

            <!--로그인 하지 않은 사람만 보이게 한다.-->
            <a class="btn btn-secondary my-2 my-sm-0 " th:href="@{/account/loginForm}" sec:authorize="isAnonymous()">Login</a>

            <!--로그인한 사람만 보이게 한다.-->
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                <span class="text-white mx-2" sec:authentication="name">사용자</span>
                <span class="text-white mx-2" sec:authentication="principal.authorities">권한</span>
                <button class="btn btn-secondary my-2 my-sm-0 " type="submit">Logout</button>
            </form>
    
        </div>
    </nav>
  
  </body>
  
</html>