<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 헤더 공통 레이아웃 -->
<head th:replace="layout/header :: header('상세조회')"></head>

<body>

<!-- 메뉴 공통 레이아웃 -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:replace="layout/menu :: menu('board')"></nav>
<br>
<br>


<div class="container">
    <h2> 게시판</h2>
    <div class="text-end">총 건수 <span th:text="${#lists.size(boards)}"></span></div>
    <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}">Mark</td>
            <td> <a th:text="${board.title}" th:href="@{/board/form(id=${board.id})}">Mark</a></td> <!--선택하면 글번호를 가지고 상세내용 화면으로 이동-->
            <td th:text="${board.createDate}">Mark</td>
        </tr>
        </tbody>
    </table>

    <!--페이지 처리-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

    <!--버튼-->
    <div class="text-end">
        <a class="btn btn-primary" th:href="@{/board/saveform}">글쓰기</a>
    </div>

</div>


<!--common layout : footer -->
<div th:replace="layout/footer :: footer"></div>

</body>

</html>